@import "tailwindcss";

:root {
  --primary: #121212;
  --secondary: #00c2ff;
  --tertiary: #b5b5b5;
  --hover: #00a2da;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.bg-services {
  background: linear-gradient(
    to bottom,
    black 0%,
    #121212 30%,
    #003b4d 60%,
    var(--secondary) 100%
  );
}

.navbar-item > div {
  @apply w-0 h-[2.9px] rounded-[2px] bg-[var(--secondary)];
}

.navbar-item:hover > div {
  animation: navbar-item 500ms ease-in-out;
  width: 100%;
}

.bg-laptop {
  position: relative;
  z-index: 0;
}

.bg-laptop::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../public/laptop-realistic.png");
  background-size: cover;
  background-position: center;
  filter: invert(1) brightness(100%);
  z-index: -1;
  pointer-events: none;
  transform: translateY(10px) scale(1.3);
}

.bg-skills {
  background: linear-gradient(145deg, #007aff, var(--secondary));
}

.bg-skills-hover {
  background: linear-gradient(transparent, var(--secondary));
}

.bg-dots {
  background-image: radial-gradient(rgba(255 255 255 / 0.2) 1px, transparent 1px);
  background-size: 30px 30px;
}

@keyframes navbar-item {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .bg-laptop {
    @apply aspect-square max-h-[380px] h-[100%] 
  }
  
  .bg-laptop::before {
    background-size: cover;
    background-position-y: -5px;
    max-height: 380px;
    height: 100%;
    aspect-ratio: 1/1;
    justify-self: center;
    align-self: center;
    display: flex;
  }
}