@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

.active {
    @apply relative;
}

.active::after {
    content: '';
    @apply absolute w-full h-1 bg-cyan-600 rounded top-12;
    transform: translateX(-75%);
}

.glow {
    filter: drop-shadow(0px 0px 5px var(--sky-blue));
}

.progress {
    animation: progress 2s ease-in-out forwards;
}

.ring-progress-anim {
    animation: ring 5s ease-in-out;
}

.hover-shadow:hover {
    box-shadow: 0 0 15px rgb(8, 212, 248);
}

@keyframes progress {
    0% {
        width: 0;
    }
}

@keyframes ring {
    0% {
        stroke-dashoffset: 314;
    }
}